p, h1{
  color: white;
}
header{
  color: white;
  box-sizing: border-box;
  padding: 0 20px;
}
img{
  width: 100%;
  object-fit: cover;
}

.articulo{
  position: relative;
  height: auto;
}
.etiquetas{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
}
.etiqueta{
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 5px;
  background-color: #10132D;
  top: 0;
}

a{
  color: white;
  text-decoration: none;
}

.informacion-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.informacion{
  margin: 10px;
  display: flex;
  height: 100%;
}
.informacion a{
  display: flex;
  align-items: center;
  justify-content: start;
}
.titulo{
  min-height: 50px;
  margin: 0;
  margin-top: 10px;
}

img{
  color: white;
}
.icon{
  width: 20px;
  height: 20px;
  margin: 5px;
}