

li a{
  font-size: 13px;
}
.logo{
  width: 100%;
  height: 130px;
  margin: 15px 0;
  object-fit: contain;
}
nav, li, a{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #fff;
}
h1{
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 20px;
  font-size: 60px;
}
h1 a{
  color: #ffc549;
}
nav{
  display: flex;
  height: 40px;
  justify-content: center;
  background-color: black;
}
li a{
  display: flex;
  height: 100%; 
  padding: 0 20px;
  align-items: center;
  position: relative;
}
li{
  display: flex;
}

/*lineas */
li a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6px;
  margin: auto; /* Centra horizontalmente utilizando margin */
  width: 80%; /* Ajusta el ancho de la línea */
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

li a:hover::after {
  background-color: #ffc549;
  box-shadow: 1px 1px 3px rgb(255, 187, 0); /* Color de la línea al hacer hover */
}

/*
  slider de novedades
*/
.container-novedades{
  display: flex;
  align-items: center;
  background-color: #10132D;
}
.container-novedades p{
  margin: 0;
  width: 10%;
}
swiper-container{
  width: 90%;
}
.titulo-novedades{
  color: #F7B521;
  text-align: center;
}

.swiper-style{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  align-items: center;
  background-image: url("/panel-principal/fondoblog.png");;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.swiper-style p{
  width: 100%;
  box-sizing: border-box;
  padding-right: 30px;
}
swiper-slide{
  height: auto;
  box-sizing: border-box;
  padding: 20px 0;
}
swiper-slide img{
  border-radius:10px;
  width: 50px;
  height: 50px;
  padding: 5px;
  object-fit: cover;
}
