

app-navegacion-responsive {
    display: none;
}

@media (max-width: 800px) {
    app-navegacion {
      display: none;
    }
    
    app-navegacion-responsive {
      display: block;
      padding-bottom: 60px;
      background-color: #000;
    }
}